
/*To make the orizontal scroll-bar disappear*/
.container{
    width: 70%;
}

/*Tablet view*/

@media screen and (max-width: 768px) {
    .container{
        width: 100%;
    }
    
}

/*Mobile view*/

@media screen and (max-width: 576px) {

    .row{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    body .row .col{
        width: 100%;
    }

    .steps{
        margin-bottom: 0;
    }

    .why-us{
        margin-bottom: 0;
        padding: 3rem 0;
        background-color: black;
    }
}